*{
	padding: 0;
	margin: 0;
	font-family: ui-sand-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	box-sizing: border-box;
}

:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }

  body {
  background-color: black;
  }
  

html {
	scroll-behavior: smooth;
}


.top-banner {
    text-align: center;
    background-color: #181818;
  }
  
  .top-banner a {
    display: inline-block;
  }
  
  .top-banner a {
    width: 100%;
    padding: 8px 0;
    font-size: 0.8125rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Roobert, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 0.0175rem;
    line-height: 1.25rem;
  }
  
.hero{
    background-image: url("../assets/images/seatgeekhomepage.jpg");
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

  /* NAV section STARTS */

nav{
    z-index: 40;
    position:fixed;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
    position: absolute;
}


nav ul li{
	display: inline-block;
    font-weight: 550;
	padding: 5px  15px;
    
}

nav ul li a{
	color: white;
    text-decoration: inherit;
    font-size: .875rem;
}


.left {
    margin-left: 11.7rem;
    display: flex;
    position: absolute;
    word-spacing: 1px;
}

.right {
    display: flex;
    margin-left: 68rem;
   
}


.contents{
  font-size: 30px;
  padding-top: 10rem;
	display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
  /* NAV section ENDS */


.h1 { 
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  background-position: 50%;
	font-family: "Exo", sans-serif;
  background-color: rgb(255, 255, 255);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;

}

.h3{
  color: white;
	font-size: 10px;
  padding-top: 10px;
	margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Search Bar (form) section STARTS */

form {
    padding-top: 20px;
    position: relative;
    width: 40rem;
    border-radius: var(--rad);
  }

  input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  
  input[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    position: relative;
  }
 
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .button {
    left: 260px;
    top: 50px;
  }

  .category {
    box-sizing: border-box;
    
    position: absolute;
    left: 50rem;
    top: 35rem;
    border-radius: 20rem;
  }
  /* Search Bar (form) section ENDS */

  /* Trending events section */

.title h2{
	color: white;
	font-size: 22px;
	width: 1130px;
	margin: 30px auto;
	text-align: left;
    margin-left: 7rem;
}

.hr {
  background-color: rgb(255, 255, 255, 0.16);
    width: 84%;
    margin-left: 7rem;
    margin-top: 172px;
}

.boxes{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
} 

.cards{
	display: flex;
	height: 380px;
	width: 380px;
	padding: 20px 35px;
	background: #191919;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
    border-radius: 0.5rem 0.5rem 0px 0px;
    justify-content: center;   
}

  #event1 img {
    align-items: center;
    max-width: 100%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  #event1 h2 {
    display: flex;
    font-size: 20px;
    text-align: left;
	color: white;
    margin-top: 15rem;
    
  }

  #event1 h3 {
    padding-top: 18rem;
    text-align: left;
	color: rgba(255, 255, 255, 0.48);
    font-size: 18px;
    font-weight: 400;
    
  }

  #event2 img {
    align-items: center;
    max-width: 100%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #event2 h2 {
    display: flex;
    font-size: 20px;
    text-align: left;
	color: white;
    margin-top: 15rem;
    
  }

  #event2 h3 {
    padding-top: 18rem;
    text-align: left;
	color: rgba(255, 255, 255, 0.48);
    font-size: 20px;
    font-weight: 400;
    
  }

  #event3 img {
    align-items: center;
    max-width: 100%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #event3 h2 {
    display: flex;
    font-size: 17px;
    text-align: left;
	color: white;
    margin-top: 15rem;
    
  }

  #event3 h3 {
    padding-left: 1rem;
    padding-top: 17rem;
    text-align: left;
	color: rgba(255, 255, 255, 0.48);
    font-size: 17px;
    font-weight: 400;
    
  }

  /* Trending events ENDS */

  @media (max-width: 576px){



	html {
		font-size: 5px;
		max-width: 100%;
		align-items: center;
		background-color: #101010;
		
	  }

	body {
    overflow-x:hidden;
		font-family: Manrope,sans-serif;
		font-kerning: normal;
		text-rendering: optimizeSpeed;
		text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		overscroll-behavior-y: none;
		color: var(--color-white);
	}

	

}


@media screen and (max-width: 980px) {

  body {
    overflow-x:hidden;
  }

	.hero {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
		width: 100%;
	}
  
	nav {
		display: flex;
		width: 100%;
		text-align: center;
		flex-wrap: wrap;
    	flex-direction: column;
    	align-items: center;
	}
  
	.hero nav ul {
		margin-top: 20px;
		width: 100%;
		justify-content: center;	
	}
  
    nav ul li a {
    position: absolute;
    right: 0rem;
		font-size: 10px;
		display: flex;	
	}
  
	.cards {
		flex: 0 70%;
	}
  }
  
  @media screen and (max-width: 768px) {

    body {
      overflow-x:hidden;
    }
    

    nav {
      right: 4.5rem;
    }

    nav img {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 6rem;
    top: 15px;
    }

    .left {
      display: none;
    }

    .right {
      display: none;
    }

    .hero {
      background-image: url(./images/homepage-xsmall.jpg);
    }

    .ticketmaster {
      left: 27rem;
      width: 20%;
      height: 300%;
    }


  .top-banner {
    display: none;
  }

    .contents h1 {
        font-size: 25px;
        font-weight: bolder;
        
    }

    .contents h3 {
        font-size: 20px;
    }

    .contents form {
        padding-top: 5px;
        width: 90%;
    }

    .button{
        left: 8.5rem;
    }

    .title h2 {
      text-align: left;
        padding-top: 10px;
        padding-bottom: 70px;
        position: absolute;
        top: 37rem;
        margin-left: 7rem;
    }

    .hr {
      width: 95%;
      position: absolute;
      right: 0.640rem;
      top: 27rem;
    }

	.boxes {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

	}

    .cards {
		flex: 0 70%;
    margin-top: 14rem;
    
	}
  
	.event1 img {
		max-width: 100%;
		max-height: 100%;
		filter: brightness(100%);
		transition: 0.4s;
	}

	.event2 img {
		max-width: 100%;
		max-height: 100%;
		filter: brightness(100%);
		transition: 0.5s;
	}

    .event3 img {
		max-width: 100%;
		max-height: 100%;
		filter: brightness(100%);
		transition: 0.7s;
	}
}

@media  screen and (max-width: 1600px) {
  
  body {
    overflow-x:hidden;
  }

	.hero {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
		width: 100%;
	}
  
	nav {
		display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
	}
  
	.hero nav ul {
		margin-top: 20px;
		width: 100%;
		
	}
}

